<div class="row">
  <div class="col">
    <div class="dropdown" dropdown>
      <button *ngIf="!factory" style="width: 300px" class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenu2"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" dropdownToggle>
    공장 선택
  </button>
      <button *ngIf="factory" style="width: 300px" class="btn btn-success btn-lg dropdown-toggle" type="button" id="dropdownMenu2"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" dropdownToggle>
    {{factory.name}}
  </button>

      <div style="width: 300px;" class="dropdown-menu" aria-labelledby="dropdownMenu2" *dropdownMenu>
        <button class="dropdown-item" (click)="onChange(factory)" *ngFor="let factory of factories">
        {{factory.name}}
    </button>
      </div>
    </div>
  </div>

  <div class="col">
    <form *ngIf="factory" class="form-inline">
      <div class="form-group">
        <div style="width: 300px; height: 50px" class="input-group">
          <input class="form-control" placeholder="시작 날짜" name="dp1" [(ngModel)]="startDate" ngbDatepicker #d1="ngbDatepicker">
          <div class="input-group-addon" (click)="d1.toggle()">
            <i class="icon-calendar" style="width: 1.2rem; height: 1rem; cursor: pointer;"></i>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col">
    <form *ngIf="startDate" class="form-inline">
      <div class="form-group">
        <div style="width: 300px; height: 50px" class="input-group">
          <input class="form-control" placeholder="종료 날짜" name="dp2" [(ngModel)]="endDate" ngbDatepicker #d2="ngbDatepicker">
          <div class="input-group-addon" (click)="d2.toggle()">
            <i class="icon-calendar" style="width: 1.2rem; height: 1rem; cursor: pointer;"></i>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col">

  </div>
  <div class="col">

  </div>
</div>

<div *ngIf="alert" class="alert alert-danger" style="margin-top: 20px;">
  <strong>종료일이 시작일 보다 이전입니다!</strong> 종료일을 시작일보다 이후로 설정해주세요.
</div>

<div *ngIf="!alert && endDate" class="animated fadeIn" style="margin-top: 10px;">
  <tabset>
    <tab>
      <ng-template tabHeading><i class="icon-pie-chart"></i> 이력 관리</ng-template>
      <div class="row">
        <div class="col-2">
          <span class="badge " style="color:#000;font-size: 17px; margin-bottom: 10px;">라인 선택</span>
          <div class="card" style="overflow-x:scroll;">
            <div class="card-block">
              <small class="text-muted">라인 별 불량정보를 확인하려면 클릭.</small>
              <button (click)="onLineChange(line)" class="item-button" *ngFor="let line of lines" style="height: 60px; width: 98%">{{line.name}}</button>
            </div>
          </div>
        </div>
        <div class="col-10">
          <span class="badge " style="color:#000; font-size: 17px;">라인 불량 - 이력 관리</span>
          <div class="row" *ngIf="line">
            <div class="col-8">
              <div class="card-block">
                <table class="table">
                  <thead>
                    <tr>
                      <th>공정</th>
                      <th>외관불량</th>
                      <th>치수불량</th>
                      <th>설비고장</th>
                      <th>불량률(PPM)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let process of processes">
                      <td *ngIf="!isEven(process.p_code)">{{process.p_name}}</td>
                      <td *ngIf="!isEven(process.p_code)">{{process.poor.poor1_num}}</td>
                      <td *ngIf="!isEven(process.p_code)">{{process.poor.poor2_num}}</td>
                      <td *ngIf="!isEven(process.p_code)">{{process.poor.poor3_num}}</td>
                      <td *ngIf="!isEven(process.p_code)">{{process.poor.ppm}}</td>
                    </tr>
                    <tr style="color: #e6405c; font-weight: bold;">
                      <td>합계</td>
                      <td>{{line.poor_num1}}</td>
                      <td>{{line.poor_num2}}</td>
                      <td>{{line.poor_num3}}</td>
                      <td>{{line.ppm}}</td>
                    </tr>
                  </tbody>
                </table>

                <ul class="horizontal-bars type-2">
                  <li style="height: 70px; margin-top: 20px;">
                    <i class="icon-tag"></i>
                    <span class="title">라인 불량률 (불량/기준치)</span>
                    <span class="value">{{line.poor_num1 + line.poor_num2 + line.poor_num3}} <span class="text-muted small">({{line.poor_per}})</span></span>
                    <div class="bars">
                      <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [style.width]="line.poor_per" aria-valuemin="0"
                          aria-valuemax="100"></div>
                      </div>
                    </div>
                  </li>
                </ul>

              </div>
            </div>
            <div class="col-4">
              <div style="display: block; margin-top: 100px;">
                  <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
          </div>
        </div>
      </div>
    </tab>

    <tab>
      <ng-template tabHeading><i class="icon-pie-chart"></i> 추적 관리</ng-template>
      <div class="row">
        <div class="col-2">
          <span class="badge " style="color:#000; font-size: 17px; margin-bottom: 10px;">제품 선택</span>
          <div class="card" style="overflow-x:scroll;">
            <div class="card-block">
              <small class="text-muted">제품 별 불량정보를 확인하려면 클릭.</small>
              <button (click)="onProductChange(product)" class="item-button" *ngFor="let product of factory.products" style="height: 60px; width: 98%">{{product.name}}</button>
            </div>
          </div>
        </div>
        <div class="col-10">
          <span class="badge " style="color:#000; color:#000; font-size: 17px;">제품별 불량 - 추적 관리</span>
          <div class="row" *ngIf="product">
            <div class="col-8">
              <div class="card-block">
                <table class="table">
                  <thead>
                    <tr>
                      <th>발생라인</th>
                      <th>발생공정</th>
                      <th>불량내용</th>
                      <th>발생시간</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let poor of product.productPoor">
                      <td>{{poor.o_line}}</td>
                      <td>{{poor.o_process}}</td>
                      <td>{{poor.poor_what}}</td>
                      <td>{{poor.o_time}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-4">
              <div style="display: block; margin-top: 100px;">
                  <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
          </div>
        </div>
      </div>
    </tab>
  </tabset>
</div>

